<h1>Editing Book</h1> <!-- 編集画面 -->
<div class="edit_text">
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
 <h4>Title:</h4>
  <%= f.text_field :title %>
  <h4>Body:</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
  <%= flash[:danger] %>
  <% if @book.errors.any? %>
   <%= @book.errors.count %>errors
   <%@book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
 <% end %>
<% end %>

</div>

<div>
  <p class="show_button2"><%= link_to "Show", book_path(@book.id) %></p>
  <p class="back_button"><%= link_to "Back", books_path(@book) %></p>
</div>