<body>
<h1>Books</h1>

<table>
 <thead>
  <tr>
   <th>Title</th>
   <th>Body</th>
   <th colspam="3"></th>
  </tr>
 </thead>
 
 <tbody>
  <% @books.each do |book| %>
   <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to "Show", book_path(book.id) %></td>
    <td><%= link_to "Edit", edit_book_path(book.id) %></td>
    <td><%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
   </tr>
  <% end %>
 </tbody> 
</table>

<h2>New book</h2> <!--新規投稿画面-->

 <%= form_with model:@book, local:true do |f| %>

 <div class="field">
  Title
  </div>
  <%= f.text_field :title %>
 

 <div class="field">
  Body
  </div>
  <%= f.text_area :body %>
  
 <%= f.submit 'Create Book' %>
 
 <%= flash[:danger] %>
 <% if @book.errors.any? %>
   <%= @book.errors.count %>errors
   <%@book.errors.full_messages.each do |message| %>
    <%= message %>
   <% end %>
  <% end %>
<% end %>